body {
    font-family: 'Noto Sans KR', sans-serif;
    background-color: #F8F8FA;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 20px;
}
.container {
    width: 70%;
    max-width: 1000px;
    background-color: white;
    border-radius: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    padding: 40px;
    box-sizing: border-box;
}
.header {
    text-align: center;
    margin-bottom: 20px;
}
.title {
    text-align: left;
    font-size: 30px;
    color: #003056;
    font-weight: 700;
    margin: 0;
}
.title span {
    color: #38AF72;
}
.header h2 {
    font-size: 24px;
    color: #363636;
    font-weight: 700;
    margin: 10px 0 0;
    text-align: center;
}
.header h3 {
    font-size: 20px;
    color: #363636;
    margin: 5px 0;
    text-align: center;
}
.form-section {
    margin: 20px 0;
}
.form-label {
    width: 260px;
    background-color: #8ED29D;
    color: #003056;
    padding: 8px 15px;
    border-radius: 15px;
    font-weight: bold;
    margin-bottom: 8px;
    display: inline-block;
    text-align: center;
}
.form-input,
textarea.form-input {
    width: 100%;
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid #E5E5E5;
    border-radius: 10px;
    font-size: 16px;
    box-sizing: border-box;
}
select.form-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
}
textarea.form-input {
    resize: none; /* 크기 조절 불가능 */
    height: 120px; /* 고정 높이 */
    overflow: auto;
}
.checkbox-section {
    margin-top: 10px;
}
.checkbox-group {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-top: 8px;
}
.inline-label {
    font-size: 16px;
    color: #003056;
    margin-left: 5px;
}
.submit-button {
    width: 100%;
    padding: 15px;
    background-color: #38AF72;
    color: #003056;
    border: none;
    border-radius: 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-align: center;
}
